* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.display-flex {
  display: flex;
  margin-bottom: 10rem;
}
.home-page {
  padding: 6rem;
}
.home-heading {
  font-size: 35px;
  color: rgb(36, 36, 36);
  margin-top: 7rem;
}
span {
  color: rgb(255, 119, 7);
}
.home-img .about-img {
  width: 50%;
}
.h-img{
  border-radius: 50%;
}
h1 {
  margin-bottom: 20px;
}
.btn {
  text-decoration: none;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  color: white;
  padding: 5px 8px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 7px 11px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 1px 7px 11px 0px rgba(0, 0, 0, 0.45);
}
.a-img{
  width: 50%;
  height: auto;
}
